<style>
  .s-profolio {
    background-color: rgb(52, 49, 49);
  }

  .a-profolio {
    color: antiquewhite;
  }
</style>


<div class="div" style="font-size: 28px; font-weight: bold">
  profolio
</div>